<% layout('/layouts/boilerplate') -%>
<body>
    
    <div class="row">
       <div class="col-8 offset-2">
            <form action="/listings" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                <h3 class="pt-3 pb-2">Create a New Listing</h3>
                <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input type="text" name="listing[title]" id="title" class="form-control" required>
                        <div class="invalid-feedback">
                            please enter a valid title
                        </div>
                </div>
                    
                <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea name="listing[description]" id="description" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            please enter short description
                        </div>
                </div>
                
                <div class="mb-3">
                        <label class="form-label" for="image">Upload Listing Image</label>
                        <input type="file" name="listing[image]" id="image" class="form-control" required>
                </div>


               <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="price">Price</label>
                        <input type="number" name="listing[price]" id="price" min="0" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">
                            please enter a valid price
                        </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label class="form-label" for="country">Country</label>
                            <input type="text" name="listing[country]" id="country" placeholder="India" class="form-control" required>
                            <div class="invalid-feedback">
                                please enter country name
                            </div>
                    </div>
               </div>
                    

                <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input type="text" name="listing[location]" id="location" placeholder="Poata Circle, Jodhpur, Rajasthan" class="form-control" required>
                        <div class="invalid-feedback">
                            please enter the location
                        </div>
                </div>
                    

                <button type="submit" class="btn btn-dark me-3 add-btn">Add</button>
                <button type="reset" class="btn btn-dark">Reset</button>
                
              
            </form>
       </div>
    </div>
</body>
